@font-face {
    font-family: 'FontKPAwesome';
    src: url('../fonts/FontKPAwesome.otf');
    font-weight: normal;
    font-style: normal;
}

.fa-checkbox-kp:before {
    font-family: FontKPAwesome;
    content: "A";
}
.fa-dokumen-kp:before {
    font-family: FontKPAwesome;
    content: "B";
}
.fa-users-kp:before {
    font-family: FontKPAwesome;
    content: "C";
}
.fa-koper-kp:before {
    font-family: FontKPAwesome;
    content: "D";
}
.fa-laci-kp:before {
    font-family: FontKPAwesome;
    content: "E";
}
.fa-books-kp:before {
    font-family: FontKPAwesome;
    content: "F";
}
.fa-daftar-kp:before {
    font-family: FontKPAwesome;
    content: "G";
}
.fa-orang-kerja-kp:before {
    font-family: FontKPAwesome;
    content: "H";
}
.fa-gear-kp:before {
    font-family: FontKPAwesome;
    content: "I";
}
.fa-talk-kp:before {
    font-family: FontKPAwesome;
    content: "J";
}
.fa-checkbox-2-kp:before {
    font-family: FontKPAwesome;
    content: "K";
}