A:link { color:#0000cc;text-decoration:none; }
A:visited { color:#0000cc;text-decoration:none; }
A:active { color:#0000cc;text-decoration:none; }
A:hover { color:#cc0000;text-decoration:none;}

A.TabMenu:link { color:#FFFF99;text-decoration:none; }
A.TabMenu:visited { color:#FFFF99;text-decoration:none; }
A.TabMenu:active { color:#FFFF99;text-decoration:none; }
A.TabMenu:hover { color:#F3B703;text-decoration:none;}

BODY { font-family:verdana,tahoma; font-size:11; margin:10 0 0 0; text-align:center}
TD { font-family:verdana,tahoma;font-size:12;color:#000000}
INPUT[type=submit], INPUT[type=button], INPUT[type=reset], BUTTON {height:30px;min-width:50px;padding-left:15px;padding-right:15px;}

SPAN.ErrorBox {
	BORDER-TOP: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed;
	BORDER-RIGHT: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed;
	PADDING-RIGHT: 5px;  PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial, verdana, sans-serif; COLOR:red; FONT-WEIGHT:500;
	MARGIN: 5px 3px 5px 3px; BACKGROUND-COLOR: #f0f0f0; width:95%;
	TEXT-ALIGN:center; line-height: 24px; display:inline-block;
}

SPAN.InfoBox {
	BORDER-TOP: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed;
	BORDER-RIGHT: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed;
	PADDING-RIGHT: 5px;  PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial, verdana, sans-serif; COLOR:#666666;
	MARGIN: 5px 3px 5px 3px; BACKGROUND-COLOR: #f0fff0; width:95%;
	TEXT-ALIGN:center; line-height: 24px; display:inline-block;
}

SPAN.MessageBox {
	BORDER-TOP: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed;
	BORDER-RIGHT: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed;
	PADDING-RIGHT: 5px;  PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial, verdana, sans-serif; COLOR:#000000; FONT-WEIGHT:bold;
	MARGIN: 5px 3px 5px 3px; BACKGROUND-COLOR: #ffe0e0; width:95%;
	TEXT-ALIGN:center; line-height: 24px; display:inline-block;
}

TD.TabInActive { color: #6666ff; font-weight:bold; cursor:pointer; background-color:#0C6}
TD.TabInActive:hover{background-color:#006633; color: #FFFFFF}
TD.TabActive { color:black; font-weight:bold; cursor:default; background-color:#006633}
TD.TabDisabled { background-color:#FFFF99; color:#999999; font-weight:bold; cursor:default}

TD.SectionTabInActive { background-color:#33CC33; color:#6666ff; font-weight:bold; cursor:pointer; }
TD.SectionTabActive { background-color:#006600; color:black; font-weight:bold; cursor:default; }
TD.SectionTabDisabled { background-color:#FFFF99; color:#999999; font-weight:bold; cursor:default; }

TD.MenuActive {color:#000000; cursor:pointer}
TD.MenuActive:hover{background-color:#FA4E05; color: #FFFFFF;}
TD.MenuInActive {color:#666666; cursor:default}
TD.MenuInVisible {display:none}

TABLE.List TR.Header {background-color:#e7e7e7; font-weight:bold; height:23; text-align:center}
TABLE.List TR.Header TD {padding:5px 2px 5px 2px;border:thin solid #666666; border-right:0;border-left:0; vertical-align:middle}
TABLE.List TR.Navigation {background-color:#ffffff}
TABLE.List TR.Navigation TD {padding:5px 2px 5px 2px;border:thin solid #666666; border-right:0;border-left:0;border-bottom:0}
TABLE.List TR.Footer {background-color:#e7e7e7}
TABLE.List TR.Footer TD {padding:5px 2px 5px 2px;border:none}
TABLE.List TR.RowLight {background-color:#ffffff}
TABLE.List TR.RowDarkA {background-color:#f7f3ff}
TABLE.List TR.RowDark {background-color:#f7fbff}
TABLE.List TR.RowLight TD {padding:4px 2px 4px 2px;border:thin solid #cccccc; border-top:0;border-right:0;border-left:0}
TABLE.List TR.RowDark TD {padding:4px 2px 4px 2px;border:thin solid #cccccc; border-top:0;border-right:0;border-left:0}
TABLE.List TR.RowSel {background-color:#ffccbb}
TABLE.List TR.RowSel TD {padding:4px 2px 4px 2px;border:thin solid #cccccc; border-top:0;border-right:0;border-left:0}

INPUT.InputText{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	border : 1px solid Silver;
	background-color : #DCDCDC;
}

.SmallGrey {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#999999}

.Title
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight: bold;
	color: #666666;
}

.SectionTitle
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight: bold;
	color: #666666;
}

.BoxTitle
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight:600;
	color: #000000;
}

.NewsTitle {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; color:#666666}
.SearchTitle {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight: bold; color:#666666}

.GrayText
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #998899;
}

.TypeWriter
{
	font-family: "Courier New", Courier, monospace;
	font-size : 14px;
	color: #222222;
}

.profile-photo
{
    z-index: 999;
    position: absolute;
    height: 105px;
    width: 90px;
    border: 6px solid #ffcc66;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}

/* Effects: MORPH */
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
