.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	/* background: url('../img/500.jpg') no-repeat center center scroll; */
	background:#d9edf7;
    padding: 20px 0;
    margin-top: 50px;
}

.image-bg-fixed-height {
	background: url('../img/500.jpg') no-repeat center center scroll;
    height: 450px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

input.currency {
    text-align: right;
    padding-right: 15px;
}

td.currency {
    text-align: right;
    padding-right: 15px;
}

th.currency {
    text-align: right;
    padding-right: 15px;
}